/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
html {
    font-family: 'Lato', sans-serif;
}

/* Containers */
.bg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #d8dbd6;
}

.main-container {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    width: 80%;
    height: 95%;
    background-color: lightblue;
}

.contact-container {
    width: 35%;
    height: 100%;
}

.chat-container {
    width: 65%;
    height: 100%;
}

/* Sezione Contatti */
.contact-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: #eaeaea;
}

.contact-header img {
    width: 50px;
    border-radius: 50%;
    vertical-align: middle;
    margin-left: 1rem;
}

.contact-header span {
    vertical-align: middle;
}

#contact-header-icon {
    margin-right: 1rem;
}

#contact-header-icon i {
    font-size: 1.3rem;
    color: #b1b1b1;
    margin: 0 .6rem;
}

.contact-notify-message {
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: #8edafc;
}

.contact-notify-message div {
    margin-left: 1rem;
}

.contact-notify-message div p {
    font-weight: 600;
}

.contact-notify-message div a {
    font-size: .8rem;
    color: rgba(128, 128, 128, .7);
}

.contact-notify-message i {
    font-size: 1.2rem;
    padding: 1rem .8rem;
    border-radius: 50%;
    margin-left: 1.4rem;
    vertical-align: middle;
    background-color: white;
    color: #8edafc;
}

.contact-search-bar {
    width: 100%;
    height: 40px;
    background-color: #eaeaea;
}

.contact-list {
    width: 100%;
    height: calc(100% - 190px);
    background-color: #ffffff;
}

/* Sezione Chat */
.chat-header {
    width: 100%;
    height: 70px;
    background-color: orange;
}

.chat-footer {
    width: 100%;
    height: 70px;
    background-color: orangered;
}

.chat-main {
    width: 100%;
    height: calc(100% - 140px);
    background-color: #f3eeea;
}



/* 
Colori:

messaggi-chat propria: #d5f9ba
messaggi-chat contatto + box scrivi messaggio: #ffffff
bg-notifiche: #8edafc
bg-utente selezionato: #e9ebeb
bg-info personali: #eaeaea
colore icone: #b1b1b1
colore icone barra scrittura messaggio: #6b7376
bg-sezione scrivi messaggio: #f3eeea
barra-verde-bg: #009688
bg-generale: #d8dbd6
*/